.hcomp{
    border: 2px solid rgb(185, 185, 185);
    font-size: 4.6rem;
}
body{
    background-color: rgb(41, 47, 75);
}

.intro{
    border-radius: 4%;
    color: #0c1e3d;
    font-size: 4.6em;
    /* line-height: 1.4; */
   
    background-color: white;
}